[user]
	email = btsuyuki1@gmail.com
	name = Bryce Tsuyuki
	signingkey = 3B2EFBA6BACE35D0
[commit]
	gpgsign = true
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/bryce/.gitignore
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = false
[init]
	defaultBranch = main
